<div class="container" id="search">
    <form>
        <div class="inputContainer dashedBorder">
            <h5>Location</h5>
            <label>Your Position: <span>{{loc.latitude}}</span>, <span>{{loc.longitude}}</span></label>
            <div class="row">
                <div class="col s12 m6 marginTop input-field">
                    <button class="waves-effect waves-light btn" type="button" id="locbtn" ng-click="getloc()">Get Location</button>
                </div>
                <div class="col s12 m6 marginTop input-field">
                    <button class="waves-effect waves-light btn" type="button" id="postalbtn">Use Postal Code</button>
                </div>
            </div>
            <div class="row" id="postalcoderow">
                <div class="col s12 m6"></div>
                <div class="col s12 m4 marginTop input-field">
                    <input type="number" id='postalcode' placeholder="Postal Code" />
                </div>
                <div class="col s12 m2 marginTop input-field">
                    <button class="waves-effect waves-light btn" type="button" id='getpostalcodebtn' ng-click="getPostalCode()">Search Postal Code</button>
                </div>
            </div>
            <div class="inputContainer dashedBorder">
                <h5>Service</h5>
                <div class="row">
                    <div class="input-field col s12">
                        <select ng-model="selected.service">
                        <option value="" disabled selected>Service</option>
                        <option>ATM</option>
                        <option>Bank</option>
                        <option>Petrol Pump</option>
                        <option>Bakery</option>
                        <option>Bar</option>
                        <option>Library</option>
                        <option>Hospital</option>
                        <option>Museum</option>
                        <option>Gym</option>

                    </select>
                        <label>Pick the service you're looking for</label>
                    </div>
                </div>
            </div>

        </div>
        <div class="inputContainer">
            <button class="waves-effect waves-light btn-large" type="submit" name="action" ng-click="getResults()">Submit<i class="material-icons right">send</i></button>
        </div>
    </form>
    </div>
 <script>
    /* global $ */
    $(document).ready(function() {
        $('select').material_select();
    });
    $('#postalbtn').click(function() {
        $('#postalcoderow').show();
    })
    $('#locbtn').click(function() {
        $('#postalcoderow').hide();
    })
</script>
