<div class="container" id="search">
    <form>
        <div class="inputContainer dashedBorder">
            <h5>Location</h5>
            <label>Your Position: <span>{{loc.latitude}}</span>, <span>{{loc.longitude}}</span></label>
            <div class="row">
                <div class="col s12 m6 marginTop input-field">
                    <button class="waves-effect waves-light btn" type="button" ng-click="getloc()">Get Location</button>
                </div>
                <div class="col s12 m6 marginTop input-field">
                    <button class="waves-effect waves-light btn" type="button" >Use Postal Code</button>
                </div>              
            </div>
        </div>
        <div class="inputContainer dashedBorder">
            <h5>Service</h5>
            <div class="row">
                <div class="input-field col s12">
                    <select ng-model="selectedService">
                        <option value="" disabled selected>Service</option>
                        <option>ATM</option>
                        <option>Bank</option>
                        <option>Petrol Bunk</option>
                    </select>
                    <label>Pick the service you're looking for</label>
                </div>
            </div>
        </div>
        <div class="inputContainer">
            <button class="waves-effect waves-light btn-large" type="submit" name="action">Submit<i class="material-icons right">send</i></button>
        </div>
    </form>
</div>