body {
    background-color: #000000;
    color: #ffffff;
}
.inputContainer {
    padding: 1em;
    margin-top: 1em;
}

.resultContainer {
    padding: 1em;
    margin-top: 1em;
}

.dashedBorder {
    border: 2px dashed #ffffff;
}
.marginTop {
    margin-top: 5px;
}
button {
    width: 100%;
}

.invisible {
    display: none;
}


/*.fade {*/
/*    transition: all 1s;*/
/*}*/
/*.fade.ng-enter {*/
/*    opacity: 1;*/
/*}*/
/*.fade.ng-enter-active {*/
/*    opacity: 1;*/
/*}*/
/*.fade.ng-leave {*/
/*    opacity: 0*/
/*}*/
/*.fade.ng-leave-active {*/
/*    opacity: 0*/
/*}*/